apiVersion: apps/v1
kind: Deployment
metadata:
  name: dagster-daemon
  namespace: dagster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dagster-daemon
  template:
    metadata:
      labels:
        app: dagster-daemon
    spec:
      containers:
      - name: dagster
        image: IMAGE_PLACEHOLDER
        envFrom:
        - secretRef:
            name: dagster
        env:
        - name: DAGSTER_COMPONENT
          value: "daemon"