apiVersion: apps/v1
kind: Deployment
metadata:
  name: dagster-webserver
  namespace: dagtser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dagster-webserver
  template:
    metadata:
      labels:
        app: dagster-webserver
    spec:
      containers:
      - name: dagster
        image: ${{ inputs.IMAGE_NAME }}
        envFrom:
        - secretRef:
            name: dagster
        env:
        - name: DAGSTER_COMPONENT
          value: "webserver"
        ports:
        - containerPort: 3000